# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed

# intelliJ
.idea
venkman.iml

# vscode
.vscode
.history

# osx
.DS_Store

# Dependency directory
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git
node_modules

# Screenshots & Reports
screenshots
reports
tests_output
report.html
*_accessibility_report.csv
