# Vim specific
*.swp
*.swo

# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed

# intelliJ
.idea

# vscode
.vscode
.history

# osx
.DS_Store

# node-waf configuration
*.lock-wscript

# Compiled binary addons (http://nodejs.org/api/addons.html)
build/Release

# Dependency directory
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git
node_modules/
.yarn-integrity

# Screenshots & Reports
sauce-app-payload*
artifacts/
/test-results/
/playwright-report/
/playwright/.cache/
/__assets__
screenshots
reports
tests_output
report.html

# NPM lockfile
package-lock.json
